@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Catalog Electronic</h1>
    <p>O metoda noua de a cataloga notele elevilor!</p>
        <p class="font-weight-light">
            Proiect de Plavosin Vlad
        </p>
</div>
